# Токен бота от @BotFather
TG_TOKEN=ваш_токен_бота

# Строка подключения к БД
# SQLite (для локального теста):
DB_URL=sqlite+aiosqlite:///./shop.db
# PostgreSQL (для продакшена):
# DB_URL=postgresql+asyncpg://user:password@localhost:5432/shop

# ID чата или группы, куда отправляются заказы
GROUP_ID=ID_вашей_telegram_группы
