# Секретные файлы и конфигурации
.env
config.json
*.env

# Виртуальные окружения
venv/
env/
ENV/
.venv/

# Кэш и скомпилированные файлы Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache

# Настройки редактора VS Code
.vscode/
!.vscode/settings.json
!.vscode/extensions.json

# Логи и базы данных (если локальные)
*.log
*.sqlite3
*.db

# Прочее
.DS_Store
Thumbs.db
.claude